@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: beige;
    }
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 630px;
    z-index: 100; 
    width:200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 197, 94);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}
#hamburger-menu{
    display: none;
}
.line1,.line2,.line3{
    border: 3px solid #333;
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
}
#comments{
    position: absolute;
    top: 30px;
    left:520px;
    width:100%;
}
#comments .comment{
    margin-top: 20px;
    border:1px solid rgb(253, 197, 94);
    padding: 20px;
    width:30%;
    border-radius: 20px;
    box-shadow: 1px solid rgb(253, 197, 94);
}
@media screen and (max-width:599px){
    nav{
        display: none;
    }
    #hamburger-menu{
        display: block;
    }
    
#comments .comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
}