@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: beige;
    }
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 630px;
    z-index: 100; 
    width:200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(254, 188, 65);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}
#hamburger-menu{
    display: none;
    position: absolute;
    top: 10px;
}
.line{
    border: 3px solid #333;
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
}
#comments{
    position: absolute;
    top: 30px;
    left:520px;
    width:60%;
    z-index: 0;
}
#comments .comment{
    margin-top: 20px;
    border:1px solid rgb(253, 197, 94);
    padding: 20px;
    width:30%;
    border-radius: 20px;
    box-shadow: 1px solid rgb(253, 197, 94);
}
@media screen and (max-width:599px){
    body{
        overflow-x: hidden;
    }
    nav{
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        height: 500px;
        width:200px;
        z-index: 200;
    }
    nav.show-navbar{
        transform: translateX(0);
    }
    #hamburger-menu{
        display: block;
        z-index: 100;
    }
    #comments{
        position: absolute; 
        top:20px;
        left: 90px;
    }
    #comments h1{
        text-align: center;
    }
    #comments .comment{
    width: 100%;
}
}
@media screen and (min-width:600px) and (max-width:1266px) {
    nav {
        height: auto; 
        width: 1260px;
        flex-direction: row; 
    }
    #comments{
        position: absolute;
        top:80px;
    }
    #comments .comment{
        width: 300px;
    }
} 