@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: white;
    }
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 630px;
    z-index: 100; 
    width:200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 197, 94);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}
#hamburger-menu{
    display: none;
}
.line{
    border: 3px solid #333;
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
}
#profile{
    width: 83%;
    height: 80px;
    position: absolute;
    left: 210px;
    top:10px;
    border-radius: 10px;
    background-color:  beige;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#profile img{
    height: 30px;
    width: 30px;
    margin-top:30px;
    margin-left: 10px;
}
#profile h4{
    position: relative;
    left: 50px;
    bottom:30px;
}
#profile h1{
    text-align: center;
    position: relative;
    bottom: 70px;
}
#blogs{
    position: absolute;
    top:110px;
    left:300px
}
#blogs a img{
    height: 250px;
    width: 250px;
}
.blog1,.blog2,.blog3{
    height: 380px;
    width: 250px;
    background-color: #BED2DD;
    display:inline-block;
    flex-direction: row;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px
}
.blog2,.blog3{
margin-left:20px;
}
.blog1 img,.blog2 img,.blog3 img{
    height: 15px;
    width: 15px;
}
.blog-content{
    text-align: center;
    padding: 5px;
}
#create{
    width: 83%;
    height: 80px;
    position: absolute;
    left: 210px;
    top:540px;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

} 
#create h3{
    margin-bottom: 10px;
    margin-left:20px;
}
 #create a{
    text-decoration: none;
    color:#333;
    background-color: rgb(253, 197, 94);
    padding:13px 20px;
    position: relative;
    left: 20px;
    border-radius: 10px;
 }
 #create h4{
    position: relative;
    left:400px;
    bottom:60px
 }
 @media only screen and (max-width:599px){
    nav{
        transform: translateX(-100%);
        /* transition: transform 0.3s ease-in-out; */
    }
    nav.show-navbar {
        transform: translateX(0);
    }
    #hamburger-menu{
        display: block;
        cursor: pointer;
        position: absolute;
        top:10px;
    }
    #hamburger-menu.active .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    #hamburger-menu.active .line:nth-child(2) {
        opacity: 0;
    }
    
    #hamburger-menu.active .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    #profile{
    width: 1000px;
    height: 90px;
    left: 220px;
    top:10px;
    }
    #profile h1{
        bottom: 140px;
        font-size: 50px;
    }
    #profile img{
        height: 50px;
        width: 50px;
    }
    #profile h4{
        left: 60px;
        bottom:40px;
        font-size: 30px;
    }
    .blog1,.blog2,.blog3{
        height: 750px;
        width: 550px;
        margin-top: 20px;
    }
    .blog2,.blog3{
        height:750px;
    }
    #blogs a img{
        height: 680px;
        width: 100%;
    }
    #create{
        display: none;
    }
    #blogs{
        position: absolute;
        top:110px;
        left:450px
    }
    
 }
 @media only screen and (min-width:600px) and (max-width:1023px) {
    nav{
       transform: translateX(-100%);    
    }
    nav.show-navbar{
        transform: translateX(0);
    }
    #hamburger-menu{
        display: block;
        cursor:pointer;
        position: absolute;
        top: 10px;
    }
    #hamburger-menu.active .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    #hamburger-menu.active .line:nth-child(2) {
        opacity: 0;
    }
    
    #hamburger-menu.active .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    #hamburger-menu .line {
        transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
    }

    #create{
        display: none;
    }
 }
 