@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Nunito';
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: beige;
    }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(244, 244, 214);
    width: 100%;
    z-index: 400;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}
#hamburger-menu{
    display: none;
}
.line{
    border: 3px solid #333;
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
}

#home{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.home-images{
    margin-top: 60px;
    margin-left:180px;
    display: flex;
}
.home-images .rectangle{
    background-color:rgb(255, 187, 59);
    height: 250px;
    width: 250px;
    filter:blur(1px);
    margin-top: 50px;
}
.home-images img{
    height: 350px;
    border-radius:30px;
    position: absolute;
    right: 1030px;
    top:130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-presentation{
    position: absolute;
    top:210px;
    left:650px;
    text-align: center;  
}
.first-paragraph .name{
    font-weight: 900;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home button{
    position: absolute;
    right:480px;
    top:360px;
    padding:15px;
    background-color: #757069;
    border: none;
    border-radius: 20px;
    color:beige;
    cursor: pointer;
    font-weight:bolder;
    text-align: center;
}
#home button:hover{
    transform: scale(1.05);
}
.presentation-links{
    display: flex;
    margin-top:100px;
    position: relative;
    left:220px
}
.presentation-links a img{
    margin-right:40px;
    width: 30px;
}
#about{
    margin-top: 150px;
    padding:50px;
    overflow:hidden;
}
#about h2{
    text-align: center;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.skills .skill{
    width: 100px;
    height: 100px;
    background-color:#BED2DD;
    margin-left:50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.1);
}
.skills .skill:hover{
    transform: scale(1.05);
}
.skills img{
    width: 50px;
    height: 50px;
    margin-left:20px;
}
.skill h3{
    text-align: center;
}
.experience h2{
    margin-top:60px;
}
.exp1,.exp2{
    height: 100px;
    width: 300px;
    padding-left:10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    background-color:#BED2DD;
    padding:30px;
    margin-left: 550px;
    position:relative;
    top:20px;
    text-align: center;
    border-radius: 20px;
}
.exp2{
    margin-top: 20px;
}
.exp1:hover,.exp2:hover{
    transform: scale(1.05);
}
#portfolio h2{
    text-align: center;
    margin-top:30px;
    margin-bottom: 20px;
}
.my-work {
    display: flex;
    align-items: center;
    gap:4rem;
    margin-left: 250px;
}
.my-work .work-box{
    position: relative;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.work-box:hover{
    transform: scale(1.01);
}
.work-box .my-work-layer{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#246689);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: .5 ease;
}
.my-work-layer h3{
    font-size: 1.5rem;
    color:white;
}
.my-work-layer a img{
    height: 40px;
    width: 40px;
}
.work-box:hover .my-work-layer{
    opacity: 1;
}
.work-box img{
    width: 300px;
    height: 100%;
    transition: .5s ease;
}
#blog h2{
    text-align: center;
    margin-top:50px;
}
#blog .dashboard{
    position: absolute;
    right: 50px;
    padding: 20px;
    border: none;
    background-color: rgb(255, 187, 59);
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}
#blog a img{
    height: 250px;
    width: 250px;
}

.blog1,.blog2{
    height: 380px;
    width: 250px;
    background-color: #BED2DD;
    display:inline-block;
    flex-direction: row;
    margin-left: 330px;
    margin-top:30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog-content{
    text-align: center;
    padding: 5px;
}
#contact-me{
    margin-top:100px
}
#contact-me h2{
    text-align: center;
}
#contact-me button {
    padding: 15px;
    background-color: #757069;
    border: none;
    border-radius: 20px;
    color: beige;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
}

#contact-me button:hover {
    transform: scale(1.05);
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   }
form input{
    padding: 10px;
    width: 250px;
    border:1px solid #BED2DD;
    outline: none;
}
form textarea{
    border:1px solid #BED2DD;
    padding: 10px;
    outline: none;
}
#contact-form .name-error,#contact-form .email-error{
    color:red;
    font-size: small;
    display: none;
}
#footer{
    background-color:#85630d;
    height: 150px;
    width: 100%;
    color: beige;
}
#footer iframe{
margin-top:20px;
margin-left:20px;
}
.subscription{
    position: absolute;
    left: 830px;
    text-align: center;
    color: #000000; 
}
.subscription input{
    padding: 10px;
    outline: none;
    border: none;
    width: 300px;
    border-radius: 10px;
}
.subscription button{
    padding: 10px;
    border: none;
    background-color:#757069;
    color: beige;
    border-radius: 10px;
    position: absolute;
    right:-1px;
}
.subscription button:hover{
    transform: scale(1.05);
}
.call-num{
    color: #000000;
    font-weight: 800;
    position: relative;
    bottom:40px;
    left: 470px;
}
.call-num img{
    height: 30px;
    width:30px;
    position: relative;
    top:12px
}
.copy{
    color: #000000;
    position: relative;
    left:200px
}
@media only screen and (max-width:599px) {
    body{
        overflow-x: hidden;
    }
    nav{
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        flex-direction: column;
        width: 60%;
    }
    nav.show-navbar {
        transform: translateX(0);
    }
    #hamburger-menu {
        display: block;
        cursor: pointer;
    }
    
    #hamburger-menu .line {
        transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
        z-index: 100;
    }    
    .home-images {
        margin-top: 20px;
        margin-left:80px;
    }
    .home-images img{
        height: 350px;
        left: 100px;
        top:130px;
    }
    .home-presentation{
        position: absolute;
        top:510px;
        left:40px; 
    }  
    #home button{
        position: absolute;
        right:100px;
        top:760px;
        padding:15px;
        background-color: #757069;
        border: none;
        border-radius: 20px;
        color:beige;
        cursor: pointer;
        font-weight:bolder;
        text-align: center;
    } 
    .presentation-links{
        display: flex;
        margin-top:30px;
        position: relative;
        left:110px;
        width:200px;
    }
    #about{
        margin-top: 450px;
    }
    #about h2{
        text-align: center;
    }
    .skills{
        display: block;
    }
    .skills .skill{
        width: 100px;
        height: 100px;
        background-color:#BED2DD;
        margin-left:70px;
        margin-top:20px;
        padding: 40px;
    }
    .exp1,.exp2{
        height: 80px;
        width: 200px;;
        padding:30px;
        margin-left: 80px;
        top:20px;
        right:50px;
    }
    .my-work {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    .work-box {
        margin-bottom: 30px;
    }

    .work-box a img {
        width: 100%; 
    }
    #blog .dashboard{
        width: 100px;
        position: absolute;
        left: 330px;
    }
    #blog a img{
        height: 250px;
        width: 250px;
    }
    .blog1,.blog2{
        position: relative;
        right: 150px;
        top:30px;
    }
    .blog-content{
        text-align: center;
        padding: 5px;
    }
    #footer{
    background-color:#85630d;
    height: 150px;
    width: 500px;
    color: beige;
}
#footer iframe{
    width: 100px;
    height: 100px;
}
.subscription{
    position: absolute;
    left: 130px;
    color: #000000;
}
.subscription input{
    position: relative;
    right:10px;
    width:200px;
}
.subscription button{
    right:-1px;
}
.call-num{
    color: #000000;
    font-weight: 800;
    position: relative;
    bottom:10px;
    left: 60px;
}
.copy{
    display: none;
}
}
@media only screen and (min-width:600px) and (max-width:1023px){
    .home-images{
        margin-top: 60px;
        margin-left:100px;
    }
    .home-images img{
        left: 130px;
        top:130px;
    }
    #home button{
        position: absolute;
        right:150px;
        top:380px;
    }
    .home-presentation{
        position: absolute;
        top:210px;
        left:440px;
        text-align: center;  
    }
    .presentation-links{
        margin-top:80px;
        position: relative;
        left:50px
    }
    .exp1,.exp2{
    margin-left: 160px;
}
.my-work{
    margin: 20px;
}
.work-box img{
    width: 100%;
}
.blog1,.blog2{
    margin-left: 280px;
}
.copy{
    display: none;
}
}
@media only screen and (min-width:1024px) and (max-width:1230px){
    .home-images img{
        left: 200px;
        top:130px;
    }
    .home-presentation{
        top:210px;
        left:500px;
    }
    #home button{
        right:200px;
        top:380px;
    }
    .exp1,.exp2{
        margin-left: 300px;
    }
    .work-box img{
        width: 100%;
        height: 100%;
    }
    .blog1,.blog2{
        margin-top:30px;
        margin-left: 150px;
    }
    .subscription{
        left: 330px;
    }
}
    