@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: beige;
    }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(244, 244, 214);
    width: 100%;
    z-index: 400;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
    margin-left:20px;
}
#hamburger-menu{
    display: none;
}
.line{
    border: 3px solid #333;
    width: 30px;
    margin-top: 8px;
    margin-left: 20px;
}
#blogs{
    position: absolute;
    left:150px;
    top:100px
}
#blogs .post-link{
    padding-top:150px;
    margin-right:350px ;
    color: black;
    list-style-type: armenian;
}
.btn {
    background-color: #1c1c1c;
    border: none;
    color: white; 
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 4px; 
    cursor: pointer;
  }
.blog1,.blog2,.blog3{
    border: 1px solid rgb(253, 197, 94);
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
}
.blog2,.blog3{
    margin-top: 20px;
}
.buttons{
    margin: auto;
}
.delete-button,.update-button{
    display: inline-block;
    cursor: pointer;
    margin: 5px 15px;
    padding: 10px;
    border: none;
    width: 20px;
    height: 20px;
}
.delete-button{
    background: url('../images/delete.png') no-repeat center center;
    background-size: contain;
}
.update-button{
    background:url('../images/edit.png') no-repeat center center;
    background-size: contain;
}
header{
    text-align: center;
    font-weight: 800;
}
.blogs-paragraph{
    display: none;
}
.leave-comment textarea{
    outline: none;
    width: 200px;
    height: 50px;
}
.leave-comment button{
    padding: 10px;
    position: relative;
    left:280px;
    background-color: rgb(253, 197, 94);
    border: none;
}
@media only screen and (max-width:599px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Nunito';
    }
    body{
        overflow-x: hidden;
    }
    nav{
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 35%;
        background-color: rgb(253, 197, 94);
    }
    nav.show-navbar{
        transform: translateX(0);
    }
    #hamburger-menu{
        display: block;
        cursor: pointer;
        position: absolute;
        top:10px;
    }
    #hamburger-menu .line {
        transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
    }    
    #blogs{
        position: absolute;
        left:30px;
        top:100px
    }
    .blog1,.blog2,.blog3{
        width: 350px;
    }
    .blog1 .read-more,.blog2 .read-more,.blog3 .read-more{
      margin-right: 800px;
    }
    .read-more {
        left: 80%;
        margin-right: 20px;
        width:80px;
    }
}
@media screen and (min-width:600px) and (max-width:1100px) {
    #blogs{
        position: absolute;
        right:800px
    }
}