*{
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
nav a{
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
}
#hamburger-menu{
    display: none;
}
.line1,.line2,.line3{
    border: 3px solid #333;
    width: 20px;
    margin-top: 8px;
    margin-left: 20px;
}
#home{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.home-images{
    margin-top: 60px;
    margin-left:180px;
    display: flex;
}
.home-images .rectangle{
    background-color:rgb(255, 187, 59);
    height: 250px;
    width: 250px;
    filter:blur(1px);
    margin-top: 50px;
}
.home-images img{
    height: 350px;
    border-radius:30px;
    position: absolute;
    right: 780px;
    top:130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-presentation{
    position: absolute;
    top:210px;
    left:550px;
    text-align: center;  
}
.first-paragraph .name{
    font-weight: 900;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home button{
    position: absolute;
    right:400px;
    top:360px;
    padding:15px;
    background-color: #757069;
    border: none;
    border-radius: 20px;
    color:beige;
    cursor: pointer;
    font-weight:bolder;
    text-align: center;
}
#home button:hover{
    transform: scale(1.05);
}
.presentation-links{
    display: flex;
    margin-top:100px;
    position: relative;
    left:190px
}
.presentation-links a img{
    margin-right:40px;
    width: 30px;
}
#about{
    margin-top: 150px;
    padding:50px;
    overflow:hidden;
}
#about h2{
    text-align: center;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.skills .skill{
    width: 100px;
    height: 100px;
    background-color:#BED2DD;
    margin-left:50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.1);
}
.skills .skill:hover{
    transform: scale(1.05);
}
.skills img{
    width: 50px;
    height: 50px;
    margin-left:20px;
}
.skill h3{
    text-align: center;
}
.experience h2{
    margin-top:60px;
}
.exp1,.exp2{
    height: 100px;
    width: 300px;
    padding-left:10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    background-color:#BED2DD;
    padding:30px;
    margin-left: 420px;
    position:relative;
    top:20px;
    text-align: center;
    border-radius: 20px;
}
.exp2{
    margin-top: 20px;
}
.exp1:hover,.exp2:hover{
    transform: scale(1.05);
}
#portfolio h2{
    text-align: center;
    margin-top:30px;
}
.my-work a img{
    height: 200px;
    width: 250px;
    margin:40px 80px;
}
#blog h2{
    text-align: center;
}
#blog button{
    position: absolute;
    right: 50px;
    padding: 20px;
    border: none;
    background-color: rgb(255, 187, 59);
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.1);
}
#blog a img{
    height: 250px;
    width: 250px;
}

.blog1,.blog2{
    height: 380px;
    width: 250px;
    background-color: #BED2DD;
    display:inline-block;
    flex-direction: row;
    margin-left: 230px;
    margin-top:30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog-content{
    text-align: center;
    padding: 5px;
}
#contact-me{
    margin-top:100px
}
#contact-me h2{
    text-align: center;
}
#contact-me button {
    padding: 15px;
    background-color: #757069;
    border: none;
    border-radius: 20px;
    color: beige;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
}

#contact-me button:hover {
    transform: scale(1.05);
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   }
form input{
    padding: 10px;
    width: 250px;
    border:1px solid #BED2DD;
    outline: none;
}
form textarea{
    border:1px solid #BED2DD;
    padding: 10px;
    outline: none;
}
#footer{
    background-color:#85630d;
    height: 150px;
    width: 100%;
    color: beige;
}
#footer iframe{
margin-top:20px;
margin-left:20px;
}
.subscription{
    position: absolute;
    left: 590px;
    text-align: center;
    color: #000000; 
}
.subscription input{
    padding: 10px;
    outline: none;
    border: none;
    width: 150px;
    border-radius: 10px;
}
.subscription button{
    padding: 10px;
    border: none;
    background-color:#757069;
    color: beige;
    border-radius: 10px;
    position: absolute;
    right:-1px;
}
.subscription button:hover{
    transform: scale(1.05);
}
.call-num{
    color: #000000;
    font-weight: 800;
    position: relative;
    bottom:40px;
    left: 170px;
}
.call-num img{
    height: 30px;
    width:30px;
    position: relative;
    top:12px
}
.copy{
    color: #000000;
    position: relative;
}
#login{
    display: none;
    border: 1px solid #BED2DD;
    width: 300px;
    height: 250px;
    position: absolute;
    left:500px;
    top:100px;
}
#login form{
    padding: 10px;
}
#login button{
    padding:10px;
    border: none;
    background-color: #757069;
    font-weight: 600;
    color: beige;
    border-radius: 10px;
    display: inline-flex;
}
#login p{
    color: red;
    display: none;
}
@media only screen and (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    #hamburger-menu{
        display: block;
        margin-top: 10px;
        z-index: 100;
    }
    nav{
        display:none;
        flex-direction: column;
        width: 60%;
    }
    .home-images {
        margin-top: 20px;
        margin-left:50px;
    }
    .home-images img{
        height: 350px;
        left: 70px;
        top:130px;
    }
    .home-presentation{
        position: absolute;
        top:510px;
        left:10px; 
    }  
    #home button{
        position: absolute;
        right:140px;
        top:760px;
        padding:15px;
        background-color: #757069;
        border: none;
        border-radius: 20px;
        color:beige;
        cursor: pointer;
        font-weight:bolder;
        text-align: center;
    } 
    .presentation-links{
        display: flex;
        margin-top:30px;
        position: relative;
        left:100px;
        width:200px;
    }
    #about{
        margin-top: 450px;
    }
    #about h2{
        text-align: center;
    }
    .skills{
        display: block;
    }
    .skills .skill{
        width: 100px;
        height: 100px;
        background-color:#BED2DD;
        margin-left:50px;
        margin-top:20px;
        padding: 40px;
    }
    .exp1,.exp2{
        height: 80px;
        width: 200px;;
        padding:30px;
        margin-left: 60px;
        top:20px;
        right:50px;
    }
    #blog button{
        width: 130px;
        position: absolute;
        left: 250px;
    }
    #blog a img{
        height: 250px;
        width: 250px;
    }
    .blog1,.blog2{
        position: relative;
        right: 150px;
        top:30px;
    }
    .blog-content{
        text-align: center;
        padding: 5px;
    }
    #footer{
    background-color:#85630d;
    height: 150px;
    width: 100%;
    color: beige;
}
#footer iframe{
    width: 100px;
    height: 100px;
}
.subscription{
    position: absolute;
    left: 130px;
    color: #000000;
}
.subscription input{
    position: relative;
    right:30px;
}
.subscription button{
    right:60px;
}
.call-num{
    color: #000000;
    font-weight: 800;
    position: relative;
    bottom:10px;
    left: 60px;
}
.copy{
    display: none;
}
}